## WARNING: THIS FILE IS MANAGED AS A CHEZMOI TEMPLATE
## To edit, exit and run `chezmoi edit config.fish`

if status is-interactive
    # Commands to run in interactive sessions can go here
end


# Brad Reaves handy functions/abbreviations

## nvim management

function vim --wraps=nvim --description 'alias vim=nvim'
  nvim $argv
end

function vi --wraps=nvim --description 'alias vi=nvim'
  nvim $argv
end

#### Get to old vim if nvim gets borked
function oldvim --wraps=nvim --description 'alias oldvim=/usr/bin/vim'
  /usr/bin/vim $argv
end

## SSH helper functions


{{- if eq .chezmoi.os "darwin" }}
#### Copy ssh key to clipboard
abbr --add cpsshkey "cat ~/.ssh/id_ecdsa.pub | pbcopy"
{{- end }}

## Other aliases

abbr --add cm "chezmoi"
abbr --add cmcd "cd ~/.local/share/chezmoi" # Go to chezmoi directory
abbr --add cmst "chezmoi status" 

abbr --add ll "ls -lh"
abbr --add lll "ls -lah"
abbr --add llll "ls -lRah"

abbr --add gcl "git clone"
abbr --add gco "git checkout"
abbr --add gst "git status"
abbr --add gc "git commit"
abbr --add gcm "git commit -m"
abbr --add gau "git add -u"
abbr --add gup 'git add -u; and git commit -m'

abbr --add ts "tailscale"
abbr --add tsst "tailscale status"

# Below is broken and does not work. I need to research how fish actually does
# this. Or find a plugin.
#abbr --add gofish "source ~/.config/fish/conf.d/*"

## Path management

fish_add_path {{ .chezmoi.homeDir -}}/bin

set --global --export EDITOR nvim 

{{- if eq .chezmoi.hostname "archon" }}
set -x TERMINAL "/usr/bin/alacritty"
{{- end }}
{{- if eq .chezmoi.hostname "14mbp" }}


## Add XDG variables because Arch doesn't set them for some reason
set --global --export XDG_CACHE_HOME $HOME/.cache
set --global --export XDG_CONFIG_HOME $HOME/.config
set --global --export XDG_DATA_HOME $HOME/.local/share
set --global --export XDG_STATE_HOME $HOME/.local/state

### Set socket env variable for ssh-agent
set -x SSH_AUTH_SOCK $XDG_RUNTIME_DIR/ssh-agent.socket

set -q GHCUP_INSTALL_BASE_PREFIX[1]; or set GHCUP_INSTALL_BASE_PREFIX $HOME ; set -gx PATH $HOME/.cabal/bin /home/bgr/.ghcup/bin $PATH # ghcup-env
{{- end }}

# Add pyenv's shims etc.
command -sq pyenv; and pyenv init - | source

