{{/* All machines */}}

brew "bat"
brew "btop"
brew "byobu"
brew "fish"
brew "htop"
brew "ispell"
brew "neovim"
brew "ripgrep"
brew "tealdeer"
brew "tmux"
brew "trash"
brew "tree"
brew "wget"
brew "yazi"


{{/* All desktops */}}

{{- if eq .isDesktop true -}}
cask "balenaetcher"
cask "claude"
cask "cursor"
cask "firefox"
brew "hugo"
cask "insync"
cask "obsidian"
brew "pandoc"
cask "scribus"
cask "spotify"
cask "slack"
cask "visual-studio-code"
cask "vlc"
cask "zotero"
cask "zoom"

cask "font-archivo"
cask "font-archivo-black"
cask "font-archivo-narrow"
cask "font-eb-garamond"
cask "font-iosevka-etoile"
cask "font-iosevka-nerd-font"
cask "font-iosevka-term-nerd-font"
cask "font-iosevka-term-slab-nerd-font"
cask "font-national-park"
cask "font-routed-gothic"

{{- end -}}

{{/* MacOS */}}

{{- if eq .chezmoi.os "darwin" }}
cask "colemak-dh"
cask "disk-inventory-x"
cask "insync"
cask "ghostty"
cask "lunar"
cask "mactex-no-gui"
brew "mas"
cask "stats"

{{-     if eq .isWork false }}
cask "steam"
{{      end }}

{{-     if eq .isWork true }}
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
{{      end }}

mas "1Blocker", id: 1365531024
mas "Bitwarden", id: 1352778147
mas "Kagi for Safari", id: 1622835804
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "RadarScope", id: 288419283
mas "Save to Raindrop.io", id: 1549370672

{{- end -}} 
