{{/* All machines */}}
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"

brew "coreutils"
brew "fish"
brew "htop"
brew "ispell"
brew "neovim"
brew "pandoc"
brew "ripgrep"
brew "tmux"
brew "wget"


{{/* All desktops */}}

{{- if eq .isDesktop true -}}
cask "brave-browser"
cask "font-ubuntu-mono-nerd-font"
cask "font-ubuntu-nerd-font"
cask "font-eb-garamond"
brew "hugo"
cask "insync"
cask "obsidian"
cask "spotify"
cask "slack"
cask "visual-studio-code"
cask "vlc"
cask "zotero"
cask "zoom"
{{- end -}}

{{/* MacOS */}}

{{- if eq .chezmoi.os "darwin" }}
cask "amethyst"
cask "iterm2"
cask "karabiner-elements"
cask "lunar"
cask "mactex-no-gui"
brew "mas"
cask "stats"
cask "omnigraffle"
brew "openjdk"
cask "sourcetree"

{{-     if eq .isWork false }}
cask "steam"
{{      end }}

mas "1Blocker", id: 1365531024
mas "Bitwarden", id: 1352778147
mas "Keynote", id: 409183694
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Noir", id: 1592917505
mas "RadarScope", id: 288419283
mas "Save to Pocket", id: 1477385213
mas "WhatsApp", id: 1147396723
mas "xSearch", id: 1579902068
{{- end -}} 
